// SCSS样式改进
$gap-size: 20px;
$max-height-video: 300px;
$border-radius: 10px;
$transition-duration: 0.3s;
$hover-scale: 1.03; // 轻微放大效果
$shadow-normal: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);

.mediaContainer {
  
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // gap: 20px;

  

  img,
  video {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
    transition: transform $transition-duration ease,
      box-shadow $transition-duration ease;
    box-shadow: $shadow-normal;

    &:hover {
      transform: scale($hover-scale);
      box-shadow: $shadow-hover;
    }

    &.responsiveVideo {
      max-height: $max-height-video;
      margin: 20px;
    }
  }
}
/* 在您的全局样式文件或相应的模块化CSS文件中 */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
/* 添加到您的CSS文件中 */
.sliderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 确保滑块项占满可用高度 */
}

.responsiveImage {
  max-width: 100%; /* 保持图片宽度不超过容器 */
  max-height: 100%; /* 可选：限制图片高度，避免超出滑块高度 */
  object-fit: contain; /* 保持图片宽高比，避免变形 */
}
